.kyc-form {
  min-width: 300px;
  max-width: 1024px;
  width: 100%;
  padding-top: 50px;
  padding-left: 25px;
}

.kyc-full-width {
  width: 100%;
}

.textarea-mat-form-field {
  height: 250px;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #F0EDE4;
}


.result-mat-form-field {
  margin-top: 10px;
}

mat-progress-bar {
  margin-top: 10px;
}

textarea {
  resize: none;
  overflow-y: scroll;
}

mat-label {
  color: #373A36;
}

:host ::ng-deep .mat-mdc-raised-button:not(:disabled) {
  background-color: #ffdb33;
  color: #373A36;
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #FB6F90;
  --mdc-linear-progress-track-color: #E3E3E3;
}

mat-expansion-panel {
  margin-top: 10px;
}

mat-expansion-panel {
  color: #373A36;
}

mat-panel-title {
  color: #373A36;
}
